<h1>Detalhes da Importação</h1>

<p>Status: <%= @import.status %></p>
<p>Usuário: <%= @import.user.email %></p>
<p>Arquivo: <%= @import.file.filename %></p>

<% if @import.status == "done" %>
  <p>Importação concluída com sucesso!</p>
<% elsif @import.status == "failed" %>
  <p>Houve um erro na importação.</p>
<% else %>
  <p>Importação em andamento...</p>
<% end %>
