<h1>Importação</h1>

<%= turbo_stream_from @import %>

<turbo-frame id="<%= dom_id(@import) %>">
  <p>Status: <%= @import.status.capitalize %></p>

  <% case @import.status %>
  <% when "pending", "processing" %>
    <p>⌛ Aguardando ou processando...</p>
  <% when "done" %>
    <p>✅ Concluído!</p>
    <%= link_to "Ver filmes", dashboard_movies_path,
            class: "btn btn-primary",
            data: { turbo_frame: "_top" } %>
  <% when "failed" %>
    <p>❌ Falhou.</p>
  <% end %>
</turbo-frame>
