<h1>Importação de Filmes</h1>

<%= turbo_stream_from @import %>

<turbo-frame id="<%= dom_id(@import) %>">
  <p>Status: <%= @import.status.capitalize %></p>

  <% case @import.status %>
  <% when "pending", "processing" %>
    <p>⌛ Aguardando ou processando...</p>

    <!-- Atualiza a página a cada 5 segundos enquanto estiver processando -->
    <script>
      setTimeout(() => {
        window.location.reload(); // recarrega a página automaticamente
      }, 3000); // 5000ms = 5 segundos
    </script>

  <% when "done" %>
    <p>✅ Concluído!</p>
    <%= link_to "Ver filmes", dashboard_movies_path, class: "btn btn-primary" %>

  <% when "failed" %>
    <p>❌ Falhou.</p>
  <% end %>
</turbo-frame>
