<p>Olá <%= @import.user.name %>,</p>
<p>Sua importação de filmes foi iniciada e está em processamento.</p>
<p>Você receberá uma notificação quando a importação for concluída.</p>
<p>Obrigado por usar nosso serviço!</p>
<p>Atenciosamente,<br/>Equipe de Suporte</p>